.address__wrapper {
  .container();
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
}

.address__text {
  .font (@fz:16px; @lh: 20px;);
  color: @font-color-lightblack;
  text-transform: uppercase;
  width: 300px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 21px;
    width: 160px;
  }
}

.address__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 20px;
  color: @font-color-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 190px;
    text-align: right;
  }
}

.address__map {
  background-image: url("/source/img/rectangle.png");
  width: 320px;
  height: 362px;
}
