.advantages__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: @tablet-width) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.advantages__title {
  .font (@fz:36px; @lh:40px;);
  font-weight: 400;
  color: @font-color-black;
  text-align: left;

  @media (min-width: @tablet-width) {
    .font (@fz:60px; @lh:60px;);
  }
}

.advantages__list {
  .list();
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__description {
  position: relative;
}

.advantages__item {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: @font-color-grey;
  width: 200px;
  padding-left: 50px;

  &:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/source/img/group-1.png");
    width: 60px;
    height: 60px;
    left: 20px;
    top: 1510px;
  }

  &:nth-child(2)::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/source/img/group-2.png");
    width: 60px;
    height: 60px;
    left: 20px;
    top: 1595px;
  }

  &:nth-child(3)::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/source/img/group-3.png");
    width: 60px;
    height: 60px;
    left: 20px;
    top: 1695px;
  }

  &:nth-child(4)::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url("/source/img/group-4.png");
    width: 60px;
    height: 60px;
    left: 20px;
    top: 1780px;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 250px;
    padding: 0;
    margin: 0;
  }
}
