.catalog-content__wrapper {
  .container();
  border-top: 1px solid #d9d9d9;

  @media (min-width: @tablet-width) {
    width: 768px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    width: 1200px;
  }
}

.catalog-content__title {
  .font (@fz:36px; @lh:36px;);
  font-weight: 400;
  color: @font-color-black;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
  margin-top: 3px;
  margin-left: 19px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 10px;
    margin-top: 15px;
  }
  @media (min-width: @desktop-width) {
    padding-left: 90px;
    margin-top: 30px;
  }
}

.catalog-content__list {
  .list();
  display: grid;
  margin-top: 16px;
  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    margin-top: 142px;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 145px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.catalog-content__subtitle {
  .font (@fz:16px; @lh:20px;);
  font-weight: 400;
  color: @font-color-morelightblack;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;

  margin-left: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin-left: 68px;
    margin-bottom: 14px;
    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;
    margin-left: 30px;
  }
}

.catalog-content__block {
  width: 160px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    margin-top: 140px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 145px;
  }
}

.catalog-content__table {
  width: 133px;
  border-collapse: collapse;
  margin-left: 12px;
  @media (min-width: @tablet-width) {
    width: 245px;
    margin-left: 19px;
  }
  @media (min-width: @desktop-width) {
    width: 170px;
    margin-left: 20px;
  }
}

.catalog-content__table td:last-child {
  text-align: right;
}

.catalog-content__table td {
  @media (min-width: @tablet-width) {
    padding: 8px 0;
  }
}

.catalog-content__table tr {
  @media (min-width: @tablet-width) {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-content__item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @line;
  position: relative;
  width: 280px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: @tablet-width) {
    border: none;
    background: #f2f2f2;
    width: 285px;
    margin-bottom: 140px;
    padding-bottom: 40px;

    &:nth-child(2n) {
      margin-left: 30px;
      width: 283px;
      @media (min-width: @desktop-width) {
        width: 205px;
        margin-left: 0;
      }
    }
    &:nth-child(8) {
      background: @font-color-white;
      border: 2px solid #f2f2f2;
    }
    @media (min-width: @desktop-width) {
      width: 205px;
      margin-bottom: 144px;
      &:nth-child(2) {
        margin-left: 80px;
      }
      &:nth-child(3) {
        margin-left: 80px;
      }
      &:nth-child(4) {
        margin-left: 80px;
      }
      &:nth-child(6) {
        margin-left: 80px;
      }
      &:nth-child(7) {
        margin-left: 80px;
      }
      &:nth-child(8) {
        margin-left: 80px;
      }
    }
  }
}

.catalog-content__item a {
  text-decoration: none;
}

.catalog-content__table {
  font-family: "Arial";
  font-size: 12px;
  line-height: 16px;
  color: @font-color-grey;
  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.catalog-content__button {
  .font (@fz:16px; @lh:20px;);
  color: @font-color-white;
  text-decoration: none;
  text-transform: uppercase;
  background-color: @basic-color-green;
  padding: 10px 102px;
  margin-top: 13px;
  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
  @media (min-width: @tablet-width) {
    padding: 10px 94px;
    margin-top: 29px;
    margin-left: 18px;
  }
  @media (min-width: @desktop-width) {
    padding: 10px 54px;
    margin-top: 32px;
    margin-left: 18px;
  }
}

.catalog-content__img {
  background: transparent;
  position: absolute;

  &--small {
    width: 68px;
    height: 86px;

    top: 32px;
    left: 52px;
    @media (min-width: @tablet-width) {
      width: 161px;
      height: 172px;
      top: -45px;
      left: 81px;
    }
    @media (min-width: @desktop-width) {
      top: -50px;
      left: 42px;
    }
  }

  &--smaller {
    width: 68px;
    height: 78px;

    top: 32px;
    left: 52px;
    @media (min-width: @tablet-width) {
      width: 163px;
      height: 174px;
      top: -45px;
      left: 81px;
    }
    @media (min-width: @desktop-width) {
      top: -50px;
      left: 42px;
    }
  }

  &--smallest {
    width: 68px;
    height: 78px;

    top: 32px;
    left: 52px;
    @media (min-width: @tablet-width) {
      width: 161px;
      height: 171px;
      top: -45px;
      left: 81px;
    }
    @media (min-width: @desktop-width) {
      top: -50px;
      left: 42px;
    }
  }
  &--big {
    width: 84px;
    height: 101px;

    top: 30px;
    left: 44px;

    @media (min-width: @tablet-width) {
      width: 168px;
      height: 206px;
      top: -73px;
      left: 80px;
    }
    @media (min-width: @desktop-width) {
      top: -78px;
      left: 41px;
    }
  }
  &--bigger {
    width: 84px;
    height: 101px;

    top: 30px;
    left: 44px;

    @media (min-width: @tablet-width) {
      width: 168px;
      height: 200px;
      top: -73px;
      left: 80px;
    }
    @media (min-width: @desktop-width) {
      width: 172px;
      height: 196px;
      top: -78px;
      left: 41px;
    }
  }
  &--biggest {
    width: 84px;
    height: 100px;

    top: 30px;
    left: 44px;

    @media (min-width: @tablet-width) {
      width: 168px;
      height: 200px;
      top: -73px;
      left: 80px;
    }
    @media (min-width: @desktop-width) {
      width: 172px;
      height: 196px;
      top: -78px;
      left: 41px;
    }
  }
  &--slim {
    width: 72px;
    height: 84px;
    top: 49px;
    left: 52px;
    @media (min-width: @tablet-width) {
      width: 163px;
      height: 174px;
      top: -45px;
      left: 80px;
    }
    @media (min-width: @desktop-width) {
      top: -58px;
      left: 41px;
    }
  }
}

.catalog-content__link {
  width: 120px;
}
