.catalog__wrapper {
  .container();
  margin-top: 30px;
  @media (min-width: @tablet-width) {
    margin-top: 475px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 140px;
  }
}

.catalog__list {
  .list();
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-left: 45px;
  padding-right: 47px;
  @media (min-width: @tablet-width) {
    padding-left: 72px;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: start;
    padding: 0;
    padding-left: 112px;
  }
}

.catalog__item {
  width: 100%;
  background-color: @basic-color-lightgrey;
  margin-bottom: 20px;
  padding-top: 28px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  position: relative;

  @media (min-width: @tablet-width) {
    width: 325px;
    padding: 60px 332px 50px 50px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 485px;
    padding: 70px 40px 45px;
    margin: 0;
    &:nth-child(1) {
      margin-right: 85px;
    }
  }
}

.catalog__item-icon--loss {
  display: block;
  position: absolute;
  width: 50px;
  height: 53px;
  top: 19px;
  @media (min-width: @tablet-width) {
    width: 200px;
    height: 211px;
    top: 81px;
    left: 441px;
  }
  @media (min-width: @desktop-width) {
    width: 100px;
    height: 106px;
    top: 40px;
    left: 50px;
  }
}

.catalog__item-icon--gain {
  display: block;
  position: absolute;
  width: 67px;
  height: 50px;
  top: 19px;
  left: 12px;
  @media (min-width: @tablet-width) {
    width: 268px;
    height: 200px;
    top: 94px;
    left: 410px;
  }
  @media (min-width: @desktop-width) {
    width: 134px;
    height: 100px;
    top: 46px;
    left: 30px;
  }
}

.catalog__title {
  .font (@fz:24px; @lh:37px;);
  font-weight: 400;
  color: @font-color-black;
  text-transform: uppercase;

  text-align: center;
  margin: 0;
  margin-bottom: 26px;
  margin-left: 15px;

  &--weight {
    margin-left: 40px;
  }

  @media (min-width: @tablet-width) {
    .font (@fz:36px; @lh:36px;);
    margin: 0;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 22px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 6px;
    margin-left: 172px;
    margin-bottom: 75px;
  }
}

.catalog__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: @font-color-grey;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    width: 470px;
    margin-left: 10px;
  }
}

.catalog__description--up {
  width: 340px;
  margin-top: 25px;
  @media (min-width: @desktop-width) {
    width: 470px;
  }
}

.catalog__text {
  padding-bottom: 4px;
  margin-bottom: 17px;
  border-bottom: 1px solid @border;

  @media (min-width: @tablet-width) {
    border: none;
  }
  @media (min-width: @desktop-width) {
    padding: 0;
  }
}
.catalog__link:hover::after {
  width: 32px;
  background-image: url("../img/index-catalog-icon-hover.svg");
}
.catalog__link {
  .font (@fz:16px; @lh:16px;);
  color: @font-color-black;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;

  &:active {
    opacity: 30%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("../img/index-catalog-icon.svg");
    width: 24px;
    height: 12px;
    top: 5px;
    left: 95px;

    @media (min-width: @tablet-width) {
      top: 10px;
      left: 130px;
    }
    @media (min-width: @desktop-width) {
      left: 133px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.catalog__desc {
  margin-top: 25px;
  margin-left: 10px;
}
