.main-nav__wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: @font-color-white;
}

.main-nav__item {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  color: @font-color-black;
  text-transform: uppercase;
}

.main-nav__item a {
  text-decoration: none;
}

.page-header__logo {
  width: 33px;
  height: 38px;
}

.main-nav__list {
  list-style: none;
}
