.main-nav__wrapper {
  .conteiner();
}

@media (min-width: @tablet-width) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 640px;
    margin: 0 auto;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-nav__wrapper {
    width: 960px;
  }
}

.page-header__container {
  .conteiner();
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.main-nav__item {
  .font (@fz:20px; @lh:20px;);
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    .font (@fz:18px; @lh: 24px;);
  }

  @media (min-width: @desktop-width) {
    .font (@fz:20px; @lh: 30px;);
  }

  &--active a {
    border-bottom: 2px solid @basic-color-green;

    @media (min-width: @desktop-width) {
      border-bottom: 2px solid @font-color-white;
    }
  }
}

.main-nav__item a {
  text-decoration: none;
  color: @font-color-black;

  &:hover {
    opacity: 50%;
  }

  &:focus {
    opacity: 30%;
  }

  @media (min-width: @desktop-width) {
    color: @font-color-white;
  }
}

.page-header__logo {
  width: 33px;
  height: 38px;

  &:hover {
    opacity: 50%;
  }

  &:active {
    opacity: 30%;
  }

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.page-header__img {
  width: 101px;
  height: 18px;
  margin-left: 60px;

  &:hover {
    opacity: 50%;
  }

  &:active {
    opacity: 30%;
  }
}

.main-nav__list {
  .list();

  @media (min-width: @tablet-width) {
    width: 570px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    width: 780px;
  }
}

.page-header {
  background-color: @font-color-white;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
