.reviews__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: @basic-color-darkgrey;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;

  @media (min-width: @tablet-width) {
    background-color: @font-color-white;
    border-top: 1px solid @line;
  }

  @media (min-width: @desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    background-color: @basic-color-darkgrey;
  }
}

.reviews__title {
  .font (@fz:36px; @lh:40px;);
  font-weight: 400;
  color: @font-color-black;
  margin: 0;
  margin-bottom: 40px;

  @media (min-width: @tablet-width) {
    .font (@fz:60px; @lh:60px;);
  }
}

.reviews__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: @font-color-grey;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
  }

  @media (min-width: @desktop-width) {
    width: 450px;
  }
}
.reviews__result {
  padding: 15px 10px 5px;
  border: 1px solid @border;
  border-radius: 5px;

  &:nth-child(2) {
    margin-left: 40px;
  }
}

.reviews__results {
  .list();
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  @media (min-width: @tablet-width) {
    justify-content: start;
    max-width: 390px;
  }
}

.reviews__item {
  text-align: center;
  margin: 0;

  &--weight {
    margin-left: 20px;
    width: 50px;
    @media (min-width: @tablet-width) {
      margin-left: 0;
    }
  }

  &:nth-child(1) {
    .font (@fz:24px; @lh:24px;);
    color: @font-color-black;
    text-transform: uppercase;
    width: 100px;
    @media (min-width: @tablet-width) {
      width: 150px;
      font-size: 30px;
      line-height: 37px;
      text-align: start;
    }
  }

  &:nth-child(2) {
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    color: @font-color-grey;
    margin-top: 10px;
    @media (min-width: @tablet-width) {
      text-align: start;
      font-size: 14px;
      line-height: 14px;
      width: 150px;
    }
  }
}

.reviews__info {
  max-width: 100px;
  background-color: @basic-color-darkgrey;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -15px;

  @media (min-width: @tablet-width) {
    background-color: @font-color-white;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-color-darkgrey;
  }
}

.reviews__item--number {
  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }
}

.reviews__desc {
  .font (@fz:14px; @lh: 20px;);
  color: @font-color-black;
  text-transform: uppercase;
  text-align: center;
  margin-top: 40px;
  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: right;
    width: 130px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    width: auto;
    margin-top: 40px;
  }
}

.reviews__blocks {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }
}

.reviews__button {
  .font (@fz:16px; @lh:20px;);
  color: @font-color-black;
  text-transform: uppercase;
  background-color: @basic-color-darkgrey;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @font-color-black;
    background: transparent;
  }
}

.reviews__range {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
  @media (min-width: @tablet-width) {
    max-width: 580px;
  }
}

.reviews__img {
  width: 311px;
  height: 232px;
  background-color: @basic-color-darkgrey;
  margin-top: 40px;
}

.reviews__line {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid @border;
  border-radius: 50px;
  background: @font-color-white;

  @media (min-width: @tablet-width) {
    width: 400px;
    height: 6px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: #dcdcdc;
  }

  ::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 50px;
    background: @basic-color-green;
    top: 4px;
    left: 5px;
    @media (min-width: @tablet-width) {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 13px;
      left: 13px;
    }
  }
}

.reviews__toggle {
  @media (min-width: @tablet-width) {
    top: 0;
    left: 50%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: @font-color-white;
    border: 1px solid #cdcdcd;
  }
}
