.reviews__wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: @basic-color-darkgrey;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;

  @media (min-width: @tablet-width) {
    background-color: @font-color-white;
    border-top: 1px solid @line;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    border: none;
  }
}

.reviews__title {
  .font (@fz:36px; @lh:40px;);
  font-weight: 400;
  color: @font-color-black;
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    .font (@fz:60px; @lh:60px;);
    margin-bottom: 64px;
  }
  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-bottom: 75px;
  }
}

.reviews__description {
  font-family: "Arial";
  font-size: 14px;
  line-height: 18px;
  color: @font-color-grey;
  width: 280px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 700px;
    margin-bottom: 50px;
  }

  @media (min-width: @desktop-width) {
    width: 435px;
    margin-left: 110px;
    padding-top: 72px;
  }
}
.reviews__result {
  max-width: 120px;
  width: 100px;
  padding: 15px 10px 5px;
  text-align: center;
  border: 1px solid @border;
  border-radius: 5px;
  &:nth-child(2) {
    margin-left: 30px;
    @media (min-width: @tablet-width) {
      margin-left: 80px;
    }
  }
  @media (min-width: @tablet-width) {
    padding: 23px 10px 20px;
    max-width: 162px;
  }
}

.reviews__results {
  .list();
  display: flex;
  flex-wrap: wrap;
  @media (min-width: @tablet-width) {
    justify-content: start;
    max-width: 365px;
  }
}

.reviews__item {
  text-align: center;
  margin: 0;

  &--weight {
    padding: 0 10px 0;
  }

  &:nth-child(1) {
    .font (@fz:24px; @lh:24px;);
    color: @font-color-black;
    text-transform: uppercase;
    width: 100px;
    @media (min-width: @tablet-width) {
      width: 150px;
      font-size: 30px;
      line-height: 37px;
      text-align: start;
    }
  }

  &:nth-child(2) {
    font-family: "Arial";
    font-size: 12px;
    line-height: 12px;
    color: @font-color-grey;
    margin-top: 10px;
    @media (min-width: @tablet-width) {
      text-align: start;
      font-size: 14px;
      line-height: 14px;
      width: 150px;
    }
  }
  @media (min-width: @desktop-width) {
    padding: 23px 10px 20px;
    max-width: 162px;
  }
}

.reviews__info {
  max-width: 105px;
  background-color: @basic-color-darkgrey;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: -15px;

  @media (min-width: @tablet-width) {
    background-color: @font-color-white;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic-color-darkgrey;
  }
}

.reviews__item--number {
  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }
}

.reviews__desc {
  .font (@fz:14px; @lh: 20px;);
  color: @font-color-black;
  text-transform: uppercase;
  margin-top: 25px;
  margin-left: 45px;
  position: relative;
  @media (min-width: @tablet-width) {
    .font (@fz:20px; @lh: 20px;);
    margin: 0;
    text-align: right;
    width: 190px;
    margin-right: 60px;
    margin-top: 13px;
  }

  @media (min-width: @desktop-width) {
    text-align: start;
    width: auto;
    margin-top: 40px;
  }
}

.reviews__blocks {
  @media (min-width: @tablet-width) {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-between;

    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }
}

.reviews__button {
  .font (@fz:16px; @lh:20px;);
  color: @font-color-black;
  text-transform: uppercase;
  background-color: @basic-color-darkgrey;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted @font-color-black;
    background: transparent;
  }
}

.reviews__range {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  margin-top: 15px;
  margin-left: 35px;
  padding-bottom: 33px;
  @media (min-width: @tablet-width) {
    width: 100%;
    margin: 0;
    padding-top: 400px;
    background-color: @basic-color-darkgrey;
  }
  @media (min-width: @desktop-width) {
    margin-left: 753px;
    margin-top: -7px;
  }
}

.reviews__img {
  width: 311px;
  height: 232px;
  background-color: transparent;
  margin-top: 25px;
  @media (min-width: @tablet-width) {
    position: absolute;
    width: 708px;
    height: 620px;
    top: 300px;
  }
  @media (min-width: @desktop-width) {
    width: 690px;
    height: 656px;

    top: -83px;
    left: 680px;
  }
}

.reviews__line {
  position: relative;
  width: 84px;
  height: 14px;
  border: 1px solid @border;
  border-radius: 50px;
  background: @font-color-white;
  margin-left: 9px;
  margin-right: 5px;
  margin-top: 4px;

  @media (min-width: @tablet-width) {
    width: 427px;
    height: 4px;
    margin-right: 14px;
    margin-left: 20px;
    background-color: #dcdcdc;
  }
  @media (min-width: @desktop-width) {
    margin-top: 15px;
    margin-right: 12px;
  }

  ::after {
    content: "";
    display: block;
    position: absolute;
    width: 35px;
    height: 6px;
    border-radius: 50px;
    background: @basic-color-green;
    top: 4px;
    left: 5px;
    @media (min-width: @tablet-width) {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }
  }
}

.reviews__toggle {
  @media (min-width: @tablet-width) {
    position: absolute;
    top: -15px;
    left: 197px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: @font-color-white;
    border: 1px solid #cdcdcd;
  }
}

.reviews__container {
  @media (min-width: @desktop-width) {
    background-color: @basic-color-darkgrey;
    width: 100%;
  }
}

.reviews__number {
  position: absolute;
  left: 250px;
}
